<%- include('header') -%>
   <div class="box" id="heading">
    <h1><b>Welcome to About section of our website</b></h1>
    <h3>This page will let u know about our website hope u will enjoy it</h3>
</div> 
    
    <%- include('footer') -%>